name: Docker Build Service

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      tag-prefix:
        required: false
        type: string
        default: ""        
      dockerfile:
        required: false
        type: string
        default: "./deployments/docker/Dockerfile"
      build-args:
        required: false
        type: string
        default: ""
      start-build-from:
        required: false
        type: string  
        default: "0" 
      git_fetch_submodules: 
        required: false                            
        type: string
        default: "true"
      dockerhub_username:
        description: "dockerhub username"
        required: false
        type: string
        default: "tazerr"            
    secrets:
      FT_SSH_KEY:
        required: true
      FT_BITBUCKET_KNOWN_HOSTS:
        required: true 
      FT_ECR_AWS_ACCESS_KEY_ID:
        required: true
      FT_ECR_AWS_SECRET_ACCESS_KEY:
        required: true
      DOCKERHUB_PULL_TOKEN:
        required: true              

jobs:
  build-service:
    runs-on: ubuntu-latest
    steps:
    - name: Build & Publish
      uses: fasttrack-solutions/ci/.github/actions/build-image@main
      with:
        image: ${{ inputs.image }}
        tag-prefix: ${{ inputs.tag-prefix }}
        dockerfile: ${{ inputs.dockerfile }}
        build-args: ${{ inputs.build-args }}
        ssh_key: ${{ secrets.FT_SSH_KEY }}
        ssh_known_hosts: ${{ secrets.FT_BITBUCKET_KNOWN_HOSTS }}    
        start-build-from: ${{ inputs.start-build-from }}
        git_fetch_submodules: ${{ inputs.git_fetch_submodules }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        ecr_aws_access_key_id: ${{ secrets.FT_ECR_AWS_ACCESS_KEY_ID }}
        ecr_aws_secret_key: ${{ secrets.FT_ECR_AWS_SECRET_ACCESS_KEY }}
        dockerhub_username: ${{ inputs.dockerhub_username }}
        dockerhub_pull_token: ${{ secrets.DOCKERHUB_PULL_TOKEN }}                
