name: Docker Build Service

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      tag-prefix:
        required: false
        type: string
        default: ""
      dockerfile:
        required: false
        type: string
        default: "./deployments/docker/Dockerfile"
      build-args:
        required: false
        type: string
        default: ""
      start-build-from:
        required: false
        type: string
        default: "0"
      git_fetch_submodules:
        required: false
        type: string
        default: "true"
      latest_tag:
        required: false
        type: string
        default: "false"
      dockerhub_username:
        description: "dockerhub username"
        required: false
        type: string
        default: "tazerr"
      multi_arch:
        description: "Build for both amd64 and arm64 (default: false, amd64 only)"
        required: false
        type: boolean
        default: false
    secrets:
      FT_SSH_KEY:
        required: true
      FT_BITBUCKET_KNOWN_HOSTS:
        required: true
      FT_ECR_AWS_ACCESS_KEY_ID:
        required: true
      FT_ECR_AWS_SECRET_ACCESS_KEY:
        required: true
      DOCKERHUB_PULL_TOKEN:
        required: true        


jobs:
  build-service:
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-arm64-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Build & Publish
        if: matrix.platform == 'linux/amd64' || inputs.multi_arch == true
        id: build
        uses: fasttrack-solutions/ci/.github/actions/build-publish-docker@feat/multi-arch-docker-builds
        with:
          image: ${{ inputs.image }}
          tag-prefix: ${{ inputs.tag-prefix }}
          dockerfile: ${{ inputs.dockerfile }}
          build-args: ${{ inputs.build-args }}
          ssh_key: ${{ secrets.FT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.FT_BITBUCKET_KNOWN_HOSTS }}
          ecr_aws_access_key_id: ${{ secrets.FT_ECR_AWS_ACCESS_KEY_ID }}
          ecr_aws_secret_key: ${{ secrets.FT_ECR_AWS_SECRET_ACCESS_KEY }}
          start-build-from: ${{ inputs.start-build-from }}
          git_fetch_submodules: ${{ inputs.git_fetch_submodules }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          latest_tag: ${{ inputs.latest_tag }}
          dockerhub_username: ${{ inputs.dockerhub_username }}
          dockerhub_pull_token: ${{ secrets.DOCKERHUB_PULL_TOKEN }}
          platform: ${{ matrix.platform }}

  create-manifest:
    needs: build-service
    runs-on: ubuntu-latest
    steps:
      - name: Create multi-arch manifest
        uses: fasttrack-solutions/ci/.github/actions/create-manifest@feat/multi-arch-docker-builds
        with:
          image: ${{ inputs.image }}
          start-build-from: ${{ inputs.start-build-from }}
          ecr_aws_access_key_id: ${{ secrets.FT_ECR_AWS_ACCESS_KEY_ID }}
          ecr_aws_secret_key: ${{ secrets.FT_ECR_AWS_SECRET_ACCESS_KEY }}
          dockerhub_username: ${{ inputs.dockerhub_username }}
          dockerhub_pull_token: ${{ secrets.DOCKERHUB_PULL_TOKEN }}
          latest_tag: ${{ inputs.latest_tag }}
          tag-prefix: ${{ inputs.tag-prefix }}          
