name: Docker Build Service & API

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      tag-prefix-service:
        required: false
        type: string  
        default: "service-"  
      tag-prefix-api:
        required: false
        type: string
        default: "api-"                
      dockerfile-service:
        required: false
        type: string
        default: "./deployments/docker/Service.Dockerfile"    
      dockerfile-api:
        required: false
        type: string  
        default: "./deployments/docker/API.Dockerfile"       
      start-build-from:
        required: false
        type: string  
        default: "0"
      dockerhub_username:
        description: "dockerhub username"
        required: false
        type: string
        default: "tazerr"                                        
    secrets:
      FT_SSH_KEY:
        required: true
      FT_BITBUCKET_KNOWN_HOSTS:
        required: true 
      FT_ECR_AWS_ACCESS_KEY_ID:
        required: true
      FT_ECR_AWS_SECRET_ACCESS_KEY:
        required: true
      DOCKERHUB_PULL_TOKEN:
        required: true                   

jobs:
  build-service:
    runs-on: ubuntu-latest
    steps:     
    - name: Build & Publish
      uses: fasttrack-solutions/ci/.github/actions/build-publish-docker@main
      with:
        image: ${{ inputs.image }}
        tag-prefix: ${{ inputs.tag-prefix-service }}
        dockerfile: ${{ inputs.dockerfile-service }}
        ssh_key: ${{ secrets.FT_SSH_KEY }}
        ssh_known_hosts: ${{ secrets.FT_BITBUCKET_KNOWN_HOSTS }}    
        ecr_aws_access_key_id: ${{ secrets.FT_ECR_AWS_ACCESS_KEY_ID }}
        ecr_aws_secret_key: ${{ secrets.FT_ECR_AWS_SECRET_ACCESS_KEY }}
        start-build-from: ${{ inputs.start-build-from }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerhub_username: ${{ inputs.dockerhub_username }}
        dockerhub_pull_token: ${{ secrets.DOCKERHUB_PULL_TOKEN }}
  build-api:
    runs-on: ubuntu-latest
    steps:    
    - name: Build & Publish
      uses: fasttrack-solutions/ci/.github/actions/build-publish-docker@main
      with:
        image: ${{ inputs.image }}
        tag-prefix: ${{ inputs.tag-prefix-api }}
        dockerfile: ${{ inputs.dockerfile-api }}
        ssh_key: ${{ secrets.FT_SSH_KEY }}
        ssh_known_hosts: ${{ secrets.FT_BITBUCKET_KNOWN_HOSTS }}    
        ecr_aws_access_key_id: ${{ secrets.FT_ECR_AWS_ACCESS_KEY_ID }}
        ecr_aws_secret_key: ${{ secrets.FT_ECR_AWS_SECRET_ACCESS_KEY }}   
        start-build-from: ${{ inputs.start-build-from }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerhub_username: ${{ inputs.dockerhub_username }}
        dockerhub_pull_token: ${{ secrets.DOCKERHUB_PULL_TOKEN }}        